/* mcbcTypescript/frontend/src/styles/components/button.scss */

.button {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  width: 100%; // 100% width
}
