/* mcbcTypescript/frontend/src/styles/pages/home.scss */

.page-container {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  // border: 4px solid yellow;

  @include respond-to-xxxl {
    flex-direction: row;
  }
}

.home-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;

  @include respond-to-xxxl {
    flex-direction: row;
  }
}

.logo-container {
  margin-bottom: 1rem;
  padding: 0 0.25rem;
  width: 100%;

  @include respond-to-xxxl {
    margin-bottom: 0;
    padding-right: 5rem;
    width: 33.3333%;
  }
}

.message-container {
  border: 4px solid $color-darkblue;
  border-radius: 1.5rem;
  color: $color-black;
  margin: 0 1rem;
  padding: 1rem;
  width: 100%;

  @include respond-to-xxxl {
    margin-top: 5rem;
    width: 66.6667%;
  }
}
