/* mcbcTypescript/frontend/src/styles/mixins.scss */

@mixin respond-to-mobile {
  @media (min-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin respond-to-tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin respond-to-desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin respond-to-xl {
  @media (min-width: $breakpoint-xl) {
    @content;
  }
}

@mixin respond-to-xxl {
  @media (min-width: $breakpoint-xxl) {
    @content;
  }
}

@mixin respond-to-xxxl {
  @media (min-width: $breakpoint-xxxl) {
    @content;
  }
}

// Media queries
@media (prefers-color-scheme: light) {
  :root {
    background-color: #fff;
    color: #213547;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
