/* mcbcTypescript/frontend/src/styles/variables.scss */

// Import fonts
@import '../assets/fonts/googleFonts';

// Define color variables
$color-lightgray: #c4d4dc;
$color-lightblue: #0000a8;
$color-darkblue: #262262;
$color-white: #fff;
$color-black: #242526;

// Define font variables
$font-roboto: 'Roboto', sans-serif;
$font-allura: 'Allura', cursive;
$font-lobster: 'Lobster', cursive;
$font-josefin-sans: 'Josefin Sans', sans-serif;

// Define breakpoint variables
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1440px;
$breakpoint-xxxl: 1920px;
