/* mcbcTypescript/frontend/src/styles/global.scss */
// Import variables and mixins
@import 'variables';
@import 'mixins';

// Import components
@import './components/button';
@import './components/footer';
@import './components/header';
@import './components/mcbcLogo';
@import './components/lhpLogo';

// Import pages
@import './pages/home';
@import './pages/about';
@import './pages/contact';
@import './pages/staff';
@import './pages/prayer';
@import './pages/missions';
@import './pages/events';
@import './pages/blogs';
@import './pages/eventPost';
@import './pages/blogPost';
@import './pages/originalApp';

// Global styles
:root {
  background-color: #242424;
  color: rgb(255 255 255 / 87%);
  color-scheme: light dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
}

html,
body {
  border: 4px solid red;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

// Media queries
@media (prefers-color-scheme: light) {
  :root {
    background-color: #fff;
    color: #213547;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
